@using DDD.Domain.Model.Entities.Admin;
@model SystemAdmin

@{if (Model != null)
  {
<table align="center" cellpadding="0" cellspacing="0" class="table-style table-padding" frame="border" style="width:800px;margin:1% auto;">
            <tr>
            <td class="td-right font-strong" style="width:30%;">管理员角色</td>    
            <td>
                @ViewBag.RoleNameList
            </td>
          </tr>
          <tr>
            <td class="td-right font-strong  bg-gray">@Html.LabelFor(aa => aa.SAName)</td>
            <td class="bg-gray">
              @Model.SAName               
            </td>    
          </tr> 
          <tr>
            <td class="td-right font-strong">@Html.LabelFor(aa => aa.SANickName)</td>
            <td>
                 @Model.SANickName
            </td>    
          </tr> 
          <tr>
            <td class="td-right font-strong bg-gray">@Html.LabelFor(aa => aa.SASex)</td>
            @{if (Model.SASex)
              { <td class="bg-gray">男</td>  }
              else
              {<td class="bg-gray">女</td>  }
            }
          </tr> 
          <tr>
            <td class="td-right font-strong">@Html.LabelFor(aa => aa.SAMobileNo)</td>
            <td>
                @Model.SAMobileNo
            </td>  
          </tr> 
         <tr>
            <td class="td-right font-strong bg-gray">@Html.LabelFor(aa => aa.Email)</td>
            <td class="bg-gray">
              @Model.Email   
            </td>  
          </tr> 
          <tr>
            <td class="td-right font-strong">@Html.LabelFor(aa => aa.RegTime)</td>
            <td>
               @Model.RegTime
           </td>    
          </tr>  
          <tr>
            <td class="td-right font-strong bg-gray">@Html.LabelFor(aa => aa.CurrentTime)</td>
            <td class="bg-gray">
             @Model.CurrentTime
               
           </td>    
          </tr>  
          <tr>
            <td class="td-right font-strong">@Html.LabelFor(aa => aa.LastTime)</td>
            <td>
                @Model.LastTime 
           </td>    
          </tr> 
           <tr>
            <td class="td-right font-strong bg-gray">@Html.LabelFor(aa => aa.CurrentIP)</td>
            <td class="bg-gray">
              @Model.CurrentIP 
           </td>    
          </tr>  
          <tr>
            <td class="td-right font-strong">@Html.LabelFor(aa => aa.LastIP)</td>
            <td>
             @Model.LastIP
           </td>    
          </tr>  
          <tr>
            <td class="td-right font-strong bg-gray">@Html.LabelFor(aa => aa.LoginTimes)</td>
            <td class="bg-gray">
              @Model.LoginTimes
           </td>    
          </tr>  
          <tr>
            <td class="td-center bg-white" colspan="2">
                <a class="button-modify" onclick="openEditsysAdmin()"><span>修改资料</span></a>
                <a class="button-modify" onclick="openChangPwd()"><span>修改密码</span></a>
            </td>
          </tr>  
        </table>
    }else
    {<span>未找到数据</span>}}