@{
    Layout = null;
}
<!DOCTYPE html >
<html>
<head>
    <title>后台管理系统</title>
    <link href="@Url.Content("~/Content/css/sys.css?v=20140701")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/jquery.rollbar.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.11.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.mousewheel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.rollbar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/getRequest.js")" type="text/javascript"></script>
    <script language="javascript" src="@Url.Content("~/Scripts/left.min.js?v=20140419")" type="text/javascript"></script>
</head>
<body style="background:#4D63A7; height:712px;" >
    <div class="left" id="menu-main">       
        <img id="load-menu" style="width:32px; height:32px; display:block; margin:15px auto;" src="/Content/images/load.gif" alt="菜单加载中..." title="菜单加载中..."/>
    </div>
</body>
</html>
