@using DDD.Application.Service.Common
@using DDD.Domain.Model.Entities.Admin
@model SystemAdmin
@{
    Layout = null;
    var dt = DateTime.Now;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>主页</title>
    <link  href="@Url.Content("~/Content/css/sys.css?v=20140411")" rel="stylesheet" type="text/css" />
    <link  href="@Url.Content("~/Content/css/pub.css?v=20140526")" rel="stylesheet" type="text/css" />
    <!--[if lte IE 6]>
<link href="@Url.Content("~/Content/css/pub-ie6.css")" rel="stylesheet" type="text/css" />
<![endif]-->
    <script src="@Url.Content("~/Scripts/jquery-1.11.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Global.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/lhgdialog/lhgcore.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/lhgdialog/lhgdialog.min.js?s=chrome,facebook")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/mainBase.min.js")"></script>
    <script src="@Url.Content("~/Scripts/getRequest.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/FusionCharts/FusionCharts.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/mainIndex.min.js?v=20140718")"></script>
</head>
<body style="background:#fbfbfb; min-width:850px;">
    <div class="right-top">
        <h1>
            您当前位置：系统主页
        </h1>
    </div>
    <div class="right-box">
        <div class="right-message">
            <ul class="visible clearfix">
                <li class="message-img"></li>
                <li style="font-size:12px;"><span>系统公告：</span>
                    1、微信企业号上线（微商城支付成功提醒、扫码核销），详询客服专员。
                @*帮助文档新增[<a class="message" href="javascript:" onclick='window.parent.frames["topper"].openStartGuide(1)'>新手入门教学指引</a>]及[<a class="message" href="javascript:" onclick='window.parent.frames["topper"].openStartGuideVod()'>演示视频</a>]！[2012-6-4]*@
                    @*平台将于2011-11-11 20:14分进行维护，维护时间大约5小时，给您带来不便请谅解！(11-09)*@</li>
            </ul>
            <a class="btn-home up" title="关闭公告" href="javascript:" ></a>
        </div>
        <div class="clear"></div>             
    </div>
    <div class="right-content clearfix">        
      
        <div class="right-content-top clearfix">
            @*<img src="../Content/images/loading.gif" />*@
       @*     @{Html.RenderAction("MainTop");}      *@      
        </div>
        <div class="quick-link">            
               @* @Html.Partial("~/Views/_QuickNav.cshtml")*@
        </div>        
    </div>
    <div class="right-content clearfix">
        <div class="chart-container floatLeft">
            <h2>@dt.AddDays(-7).ToString("MM-dd")@{<text>至</text>}@dt.AddDays(-1).ToString("MM-dd")@{<text>新增订单统计</text>}</h2>
            <div id="newOrder"></div>
        </div>
        <div class="chart-container floatRight">
            <h2>@dt.AddDays(-7).ToString("MM-dd")@{<text>至</text>}@dt.AddDays(-1).ToString("MM-dd")@{<text>新增凭证统计</text>}</h2>
            <div id="newEcoupon" ></div>
        </div>
        @*<div class="right-content-bottom">
        
            <div class="right-content-bottom-left">
                <div class="bottom-bus-text">
                    
                    <div class="text-ddtj">
                      <span class="ddtj-name">@dt.AddDays(-7).ToString("MM-dd")@{<text>至</text>}@dt.AddDays(-1).ToString("MM-dd")@{<text>新增订单统计</text>}</span>
                      <div id="newOrder"></div>
                    </div>
                   <div class="text-ddtj" style="margin-left:2%;">
                      <span class="ddtj-name">@dt.AddDays(-7).ToString("MM-dd")@{<text>至</text>}@dt.AddDays(-1).ToString("MM-dd")@{<text>新增凭证统计</text>}</span>
                      <div id="newEcoupon" ></div>
                    </div>
                </div>

        </div>

    </div>*@
    </div>
</body>
</html>
